@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app,
.select-branch {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bg-auth-image::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(33 9 90 / 55%);
}

.font-jost {
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.h-350-px {
  height: 350px;
}
